<h2> DÖNGÜLER

FOR DÖNGÜSÜ

In [1]:
for i in range (4): 
    print(i)

0
1
2
3

In [3]:
for i in range (0,11,2):
    print(i)

0
2
4
6
8
10

In [5]:
kedigiller = ["aslan", "kaplan", "kedi", ["vaşak", "çita"]]
for kd in kedigiller :
    print(kd)

aslan
kaplan
kedi
['vaşak', 'çita']

In [11]:
for x in range(1,8) :
    print("{} * {} = {}".format(x,x,x*x))

1 * 1 = 1
2 * 2 = 4
3 * 3 = 9
4 * 4 = 16
5 * 5 = 25
6 * 6 = 36
7 * 7 = 49

In [12]:
tup1 = ((10,20), (30,40), (50,60))
for key, value in tup1 : 
    print(key, value)

10 20
30 40
50 60

WHİLE DÖNGÜSÜ

In [18]:
x = 0
while x <= 10:
    print(x)
    #x=x+1
    x += 1

0
1
2
3
4
5
6
7
8
9
10

In [25]:
diller = ["Python", "C++", "JAVASCRIPT", "GO"]
x = 0
while x <len(diller):
    print(diller[x])
    x+=1

Python
C++
JAVASCRIPT
GO

In [27]:
for sy in range(40) :
    if sy > 10 and sy <= 20:  
        if sy == 16 or sy == 19:
            continue
        print(sy)

11
12
13
14
15
17
18
20

In [28]:
for sy in range(40) :
    if sy > 10 and sy <= 20:  
        if sy == 16 or sy == 19:
            break
        print(sy)

11
12
13
14
15

In [32]:
ulusal =[]
for i in "üniversite" :
    ulusal.append(i)
ulusal

['ü', 'n', 'i', 'v', 'e', 'r', 's', 'i', 't', 'e']

In [34]:
[u for u in "üniversite"]

['ü', 'n', 'i', 'v', 'e', 'r', 's', 'i', 't', 'e']

In [36]:
[k**2 for k in range(0,11)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [39]:
dx = {}
dx["A"] = 0; dx["B"] = 1; dx["C"] = 2;
dx

{["a", "b", "c"] [i] : i for i in range(3)}

{'a': 0, 'b': 1, 'c': 2}

In [41]:
let = list("ABCDEFG")
{let[i].lower(): i for i in range(len(let))}

{'a': 0, 'b': 1, 'c': 2, 'd': 3, 'e': 4, 'f': 5, 'g': 6}