<h2>Tuple<h2>Birden fazla değişken içine atılabilir, çağırıldığında parantez içine atanır. Tupleda 2 tane metot vardır. (count, index) Tupleların değerleri değiştirilemez.<br>

In [52]:
tupls = 40,50,60,70
tupls

(40, 50, 60, 70)

In [53]:
myList = [10,20,30,40]
myList = tuple(myList)
type(myList)

tuple

In [54]:
tap3 = tupls+myList
tap3

(40, 50, 60, 70, 10, 20, 30, 40)

In [55]:
tap4 = "Köpek", "Araba", 10, 10, True
tap4.count(10)

2

In [56]:
print(max(tap3))
min(tap3)

70

10

<h2>SET (KÜMELER) <br>

Setlerde her elemandan 1 tane olabilir, o yüzden tekrar eden elemanları olan listleri sete çevirirken veri kaybı olur.<br> 
Set elemanlarına index numaralarıyla erişim olmaz bu yüzden liste çevirilmesi gerekir.<br> 
.union() = Birleşim kümesi <br> 
.intersection() = Kesişim kümesi<br>

In [57]:
s1 = {}
type(s1)

dict

In [58]:
s1 = {3,4,5,5}
type(s1)

set

In [59]:
s2 = [1,1,1,2,2,2,2,3,3,3,4]
s2 = set(s2)
s2

{1, 2, 3, 4}

In [60]:
print(s1)
s2

{3, 4, 5}

{1, 2, 3, 4}

In [61]:
s1.union(s2)

{1, 2, 3, 4, 5}

In [62]:
s1.intersection(s2)

{3, 4}

In [63]:
s1.difference(s2)

{5}

<h2> Dictonary (Kütüphaneler) <br>

Dictonary c++daki multiset gibidir key ve değeri vardır.

In [64]:
d1 = {}
type(d1)

dict

In [65]:
d1["A"] = 25
d1["B"] = 35
d1

{'A': 25, 'B': 35}

In [66]:
sepet = {"bebekler" : 25.52, "arabalar" : 58, "ucurtuma" : 15}
sepet

{'bebekler': 25.52, 'arabalar': 58, 'ucurtuma': 15}

In [67]:
sepet["bebekler"]

25.52

In [79]:
text = sum(list(sepet.values())) 
print(type(text))
str(text) + " TL"

<class 'float'>

'98.52 TL'

In [102]:
malzemeler = {"m1" : d1, 
"m2" : [10, 20, 30], 
"m3" : ("tuple", [12,[52], {"m4" : ["a", "b"]}])
}
malzemeler

{'m1': {'A': 25, 'B': 35},
 'm2': [10, 20, 30],
 'm3': ('tuple', [12, [52], {'m4': ['a', 'b']}])}

In [103]:
malzemeler["m3"][1][2]["m4"][1]

'b'